<!-- Page Header -->
<header class="masthead" style="background-image: url('/images/about/background.gif')">
	<div class="overlay"></div>
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-md-10 mx-auto">
				<div class="page-heading">
					<h1>关于展望</h1>
					<!-- <span class="subheading">About Our Company</span> -->
				</div>
			</div>
		</div>
	</div>
</header>

{{!< default}}
<div class="container">
  <div class="row">
    <div class="col-sm-8 col-md-10 mx-auto">
      <p>暑假应该是孩子们玩耍的时光，暑假也应当是家长们放松去享受二人世界的时光。展望游学夏令营以一颗育才之心，渴望为每一个孩子带来受益颇深的难忘暑假。除却英语学习+观光游玩的传统海外夏令营内容，展望游学更多的希望培养孩子的领袖才能、社交能力和户外探索精神。</p>
      <div class="">
        <h3>夏令营信息：</h3>
        <p>夏令营活动对象：14~19周岁学生</p>
        <p>夏令营时间：2018年7月22日~8月12 日</p>
        <p>报名截止日期为: 2018年6月20日</p>
      </div>
      <div class="">
        <h3>展望游学夏令营特色：</h3>
        <p>领袖才能：与国内普遍理解的狭义领袖才能不同，欧美国家尤其是加拿大所倡导的领袖才能（Leadership）所包含的意义更为广泛，不仅局限于领导能力，更全面地体现在团队精神、应变能力、抗压能力、开放思维、体能提升等包括人格魅力在内的方方面面。</p>
        <p>展望游学的创始人也正是展望青年领袖培训计划的创始人。展望青年领袖培训计划从2001年创建至今，致力于培养加拿大青少年移民的领袖才能，目前已有近千名毕业生，分别考取并获得了爱丁堡公爵奖励（The Duke of Edinburgh's Award）的金、银或铜奖章。展望游学厚积薄发，将从展望青年领袖培训计划那里获得的十七年经验与人脉悉数应用在展望游学夏令营的运作上。</p>
        <img src="/images/about/插图1.jpg" class="image-full-width" alt="">
        <figcaption>展望团队的学员们荣获爱丁堡公爵奖励金章奖励</figcaption>
        <p>英语课程：由加拿大资深英语教师任教，课程结束后颁发的结业证书。结合国人“哑巴英语”的窘迫，展望游学将更多重心放到了英语听说能力之上，22天的旅程之中，包括4个上午的英语课程和12个上午的英语听说集中训练。平日里，展望游学也鼓励学生用英语交流，国语导师也会时时协助，减少同学们的紧张感。相信21天的旅程结束之后，同学们无论是词汇量还是英语语言思维方面的收获都不小于一个学期的苦苦钻营。</p>
        <img src="/images/about/插图2.jpeg" class="image-full-width" alt="">
        <figcaption>迦南环球高中校长接受江苏广电总台教育频道邀请，代表加拿大私立学校出任【环球教育周刊】节目嘉宾</figcaption>
        <p>学府游览：加拿大综合排名第一的大学多伦多大学、紧随其后的麦吉尔大学、以新媒体和新闻专业闻名的瑞尔森大学、工商管理专业名列加拿大前茅的约克大学、有加拿大的“清华大学”之称的滑铁卢大学，诸如以上的著名学府集中分布在以多伦多为主的加拿大东部，百闻不如一见，学生们游览之后方能做出无悔抉择，选择日后的梦想大学。</p>
        <img src="/images/about/插图3.jpg" class="image-full-width" alt="">
        <figcaption>多伦多大学</figcaption>
        <p>了解之旅：一个夏天游遍加东，了解加拿大文化和风土人情。国际都市多伦多的繁荣，古城魁北克的风情与文化，费特烈顿诗意的圣约翰河畔，哈利法克斯美味诱人的大龙虾，萨默赛德的港口小镇风情，蒙特利尔的奥运精神，渥太华的首都之光，千岛湖的浪漫传奇，尼亚加拉大瀑布的壮观宏大，展望游学带学生们一一见证游玩。</p>
        <img src="/images/about/插图4.jpg" class="image-full-width" alt="">
        <figcaption>美不胜收的加国风景</figcaption>
        <p>舒适享受：加拿大当地人对于舒适生活的追求永不止步，这一点从美籍加拿大移民的选择以及全球十大宜居城市排名不难看出。展望游学能够为参加夏令营的同学们准备最为舒适的居住环境，无论是度假村还是酒店，全部是一流享受。</p>
        <p>同时，展望游学在导师的配置上达到了极致。每十名学生配有一名导师（联系人），任何生活上、旅程中、学习时的疑惑都可以向导师求助。</p>
        <img src="/images/about/插图5.JPG" class="image-full-width" alt="">
        <figcaption>Bark Lake湖边度假村学生摄影作品</figcaption>
      </div>
      <div class="">
        <h3>参营3步曲：</h3>
        <ol>
          <li>
            <ul>
              <li>学员填写<a href="/apply">申请表格</a>，电汇团费加元$6988.00（大约人民币3万5千元）到指定帐户</li>
              <li>展望游学在收到所有填妥的表格和全额款项后，将发出一份正式录取函。这封录取函可以在居住国用做注册证明，并用于申请加拿大签证</li>
              <li>学生家长及国内机抅需要出示一份书面承诺文件，说明学生赴加的目的，并保证学生不会岀现脱团和偏离公司的安排。</li>
              <li>学生带上邀请函和承诺文件等资料到有关机构申请旅游观光签证。</li>
              <li>签证批准后，请电邮所有文件副本（旅游签证，护照，父母亲公司保证书，汇款收据等），并订购指定日期往返机票。</li>
            </ul>
          </li>
          <li>5月~7月初，完成学校学期考试。整理行李，计算零用钱（购买礼物的费用以及其他私人用途的费用）。</li>
          <li>7 月中旬。欢欢喜喜参营去，享受一个愉快的旅程。</li>
        </ol>
      </div>
    </div>
  </div>
</div>
