<header class="masthead" style="background-image: url('/images/gallery/background.jpg')">
	<div class="overlay"></div>
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-md-10 mx-auto">
				<div class="page-heading">
					<h1 class="my-5">美妙瞬间</h1>
					<!-- <span class="subheading">About Our Company</span> -->
				</div>
			</div>
		</div>
	</div>
</header>
<div class="container">
	<!-- if galleries -->
	{{#if galleries}}
		{{#each galleries}}
		<h2 class="my-5">{{name}}</h2>
		<div class="row gallery-images">
				<div class="col-sm-12 col-md-12">
					<div class="row">
						{{#each images}}
						<div class="col-10 offset-1 col-sm-6 offset-sm-0 col-md-3 gallery-grid">
							<a href="{{cloudinaryUrl}}" target="_blank"><img src="{{cloudinaryUrl}}" class="gallery-image"></a>
						</div>
						{{/each}}
					</div>
				</div>
		</div>
		{{/each}}
	{{else}}
	<!-- else -->
	<h3 class="text-muted">暂无图片</h3>
	{{/if}}
</div>
