<header class="masthead-homepage text-center text-white d-flex" style="background-image: url('/images/home/background.jpg')">
  <div class="container my-auto">
    <div class="row">
      <div class="col-lg-10 mx-auto">
        <h1 class="text-uppercase">
          <strong>展望游学夏令营</strong>
        </h1>
        <hr>
      </div>
      <div class="col-lg-8 mx-auto">
        <p class="text-faded mb-5">在领略北美风土人情的同时激发领袖才能</p>
        <a class="js-scroll-trigger" href="#about">
					<img src="/images/home/Scroll_1.gif" class="img-fluid home-icon" alt="">
				</a>
      </div>
    </div>
  </div>
</header>

<section class="bg-dark text-white" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto text-center">
        <h2 class="section-heading text-white">展望游学十七年磨一剑</h2>
        <hr class="light my-4">
        <p class="text-faded">凭借创办人的对加拿大二代移民青少年的培育经验，</p>
				<p class="text-faded">丰富的人脉关系及课程资源，以及一颗育才之心，</p>
				<p class="text-faded mb-4">定能感同身受地为孩子展开一场轻松而充盈的加国游学之旅。</p>
        <a class="js-scroll-trigger" href="#services">
					<img src="/images/home/Scroll_1.gif" class="img-fluid home-icon" alt="">
				</a>
      </div>
    </div>
  </div>
</section>

<section id="services">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">特色项目</h2>
        <hr class="my-4">
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-3 col-md-6 text-center">
        <div class="service-box mt-5 mx-auto px-2">
          <img src="/images/home/领袖才能.png" class="img-fluid home-icon" alt="">
          <h3 class="mt-2 mb-3">领袖才能</h3>
          <p class="text-muted mb-0">欧美国家尤其是加拿大所倡导的领袖才能（Leadership）不仅局限于领导能力，更全面地体现在团队精神、应变能力、抗压能力、开放思维、体能提升等包括人格魅力在内的方方面面。</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 text-center">
        <div class="service-box mt-5 mx-auto px-2">
          <img src="/images/home/英语课程.png" class="img-fluid home-icon" alt="">
          <h3 class="mt-2 mb-3">英语课程</h3>
          <p class="text-muted mb-0">由加拿大著名私立学校迦南环球高中学院（Canaan Global Academy）的资深英语教师任教，课程结束后颁发结业证书。平日展望游学会鼓励学生用英语交流，国语导师也会时时协助，减少同学们的紧张感。</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 text-center">
        <div class="service-box mt-5 mx-auto px-2">
          <img src="/images/home/学府游览.png" class="img-fluid home-icon" alt="">
          <h3 class="mt-2 mb-3">学府游览</h3>
          <p class="text-muted mb-0">加拿大综合排名第一的大学多伦多大学、紧随其后的麦吉尔大学、以新媒体和新闻专业闻名的瑞尔森大学、工商管理专业名列加拿大前茅的约克大学、有加拿大的“清华大学”之称的滑铁卢大学，百闻不如一见，学生们游览之后方能做出无悔抉择，选择日后的梦想大学。</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 text-center">
        <div class="service-box mt-5 mx-auto px-2">
          <img src="/images/home/游遍加东.png" class="img-fluid home-icon" alt="">
          <h3 class="mt-2 mb-3">游遍加东</h3>
          <p class="text-muted mb-0">国际都市多伦多的繁荣，古城魁北克的风情与文化，费特烈顿诗意的圣约翰河畔，哈利法克斯美味诱人的大龙虾，萨默赛德的港口小镇风情，蒙特利尔的奥运精神，渥太华的首都之光，千岛湖的浪漫传奇，尼亚加拉大瀑布的壮观宏大，展望游学带学生们一一见证游玩。</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="p-0" id="portfolio">
  <div class="container-fluid p-0">
    <div class="row no-gutters popup-gallery">
      <div class="col-lg-4 col-sm-6">
        <a class="portfolio-box" href="/images/home/1 学生入营纪念.png">
          <img class="img-fluid portfolio-img" src="/images/home/portfolio-01.png" alt="">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <!-- <div class="project-category text-faded">
                Category
              </div> -->
              <div class="project-name">
                学生入营纪念
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-sm-6">
        <a class="portfolio-box" href="/images/home/2 度假村之旅.JPG">
          <img class="img-fluid portfolio-img" src="/images/home/portfolio-02.JPG" alt="">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">

              <div class="project-name">
                度假村之旅
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-sm-6">
        <a class="portfolio-box" href="/images/home/3 野炊食品分配.JPG">
          <img class="img-fluid portfolio-img" src="/images/home/portfolio-03.JPG" alt="">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">

              <div class="project-name">
                野炊食品分配
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-sm-6">
        <a class="portfolio-box" href="/images/home/4 团队协作游戏.JPG">
          <img class="img-fluid portfolio-img" src="/images/home/portfolio-04.JPG" alt="">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">

              <div class="project-name">
                团队协作游戏
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-sm-6">
        <a class="portfolio-box" href="/images/home/5 湖边独木舟训练.JPG">
          <img class="img-fluid portfolio-img" src="/images/home/portfolio-05.JPG" alt="">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">

              <div class="project-name">
                湖边独木舟训练
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-sm-6">
        <a class="portfolio-box" href="/images/home/6 最美的夏天，最绚烂的回忆.jpg">
          <img class="img-fluid portfolio-img" src="/images/home/portfolio-06.jpg" alt="">
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">

              <div class="project-name">
                最美的夏天，最绚烂的回忆
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>

<section class="bg-dark text-white">
  <div class="container text-center">
    <h2 class="mb-5">在线填写报名表格</h2>
		<p>多姿多彩的户外活动，事无巨细的贴心安排，光是想想就小激动呢！</p>
    <a class="btn btn-light btn-xl sr-button" href="/apply">现在申请！</a>
  </div>
</section>
