<!-- Page Header -->
<header class="masthead" style="background-image: url('/images/info/background.jpg')">
	<div class="overlay"></div>
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-md-10 mx-auto">
				<div class="page-heading">
					<h1>展望游学夏令营</h1>
					<!-- <span class="subheading">About Our Company</span> -->
				</div>
			</div>
		</div>
	</div>
</header>

{{!< default}}
<div class="container">
  <div class="row">
    <div class="col-sm-10 col-md-12 mx-auto">
      <div class="info-main-content">
        <h3 class="my-5">展望游学夏令营行程介绍</h3>
        <h4 class="my-5 ml-2">21天游学计划之简易版，百分百充实夏日体验，尽享加拿大美好风光</h4>
        <div class="info-timetable">
          <img src="/images/info/时间表上.jpg" class="image-full-width mb-0 pb-0" alt="">
          <img src="/images/info/时间表下.jpg" class="image-full-width mt-0 pt-0" alt="">
        </div>
        <div class="row my-5">
          <div class="col-sm-12 col-md-6 mx-auto my-2">
            <img src="/images/info/别样风情的魁北克古城，在这里享受法兰西的浪漫吧.jpg" class="img-fluid" alt="">
            <figcaption>别样风情的魁北克古城，在这里享受法兰西的浪漫吧</figcaption>
          </div>
          <div class="col-sm-12 col-md-6 mx-auto my-2">
            <img src="/images/info/加拿大首府渥太华的地标——国会山.jpg" class="img-fluid" alt="">
            <figcaption>加拿大首府渥太华的地标——国会山</figcaption>
          </div>
          <div class="col-sm-12 col-md-6 mx-auto my-2">
            <img src="/images/info/历练胆量的高空绳索攀登，让孩子体验刺激的青春（对恐高的孩子非强制）.JPG" class="img-fluid" alt="">
            <figcaption>历练胆量的高空绳索攀登，让孩子体验刺激的青春（对恐高的孩子非强制）</figcaption>
          </div>
          <div class="col-sm-12 col-md-6 mx-auto my-2">
            <img src="/images/info/各式各样的户外活动定能让孩子的汗水化为无限收获.jpg" class="img-fluid" alt="">
            <figcaption>各式各样的户外活动定能让孩子的汗水化为无限收获</figcaption>
          </div>
          <div class="col-sm-12 col-md-6 mx-auto my-2">
            <img src="/images/info/在蓝天碧水中穿梭，陶冶心灵的独木舟划行，伴有专业教练在旁边确保孩子安全.jpg" class="img-fluid" alt="">
            <figcaption>在蓝天碧水中穿梭，陶冶心灵的独木舟划行，伴有专业教练在旁边确保孩子安全</figcaption>
          </div>
          <div class="col-sm-12 col-md-6 mx-auto my-2">
            <img src="/images/info/壮美异常的圣母大教堂，感受信仰带来的力量.jpg" class="img-fluid" alt="">
            <figcaption>壮美异常的圣母大教堂，感受信仰带来的力量</figcaption>
          </div>
          <div class="col-sm-12 col-md-6 mx-auto my-2">
            <img src="/images/info/展望夏令营将带领学生攀上位于多伦多的世界七大工程奇迹之一——CN塔.jpg" class="img-fluid" alt="">
            <figcaption>展望夏令营将带领学生攀上位于多伦多的世界七大工程奇迹之一——CN塔</figcaption>
          </div>
          <div class="col-sm-12 col-md-6 mx-auto my-2">
            <img src="/images/info/美丽的安大略湖畔，居住着友好的加拿大人民.jpg" class="img-fluid" alt="">
            <figcaption>美丽的安大略湖畔，居住着友好的加拿大人民</figcaption>
          </div>
          <div class="col-sm-12 col-md-6 mx-auto my-2">
            <img src="/images/info/静谧的Bark Lake湖边度假村，拂去城市的尘埃，感受最真实的自然.JPG" class="img-fluid" alt="">
            <figcaption>静谧的Bark Lake湖边度假村，拂去城市的尘埃，感受最真实的自然</figcaption>
          </div>
          <div class="col-sm-12 col-md-6 mx-auto my-2">
            <img src="/images/info/风格迥异的欧式建筑在加拿大的蓝天白云下显得格外壮观.jpg" class="img-fluid" alt="">
            <figcaption>风格迥异的欧式建筑在加拿大的蓝天白云下显得格外壮观</figcaption>
          </div>
        </div>
        <a href="/schedule"><h4 class="info-link">享受与学习两不误，展望游学夏令营21天旅程全揭秘</h2></a>
      </div>
      <div class="my-5">
        <h3>参营3步曲：</h3>
        <ol>
          <li>
            <ul>
              <li>学员填写<a href="/apply">申请表格</a>，电汇团费加元$6988.00（大约人民币3万5千元）到指定帐户</li>
              <li>展望游学在收到所有填妥的表格和全额款项后，将发出一份正式录取函。这封录取函可以在居住国用做注册证明，并用于申请加拿大签证</li>
              <li>学生家长及国内机抅需要出示一份书面承诺文件，说明学生赴加的目的，并保证学生不会岀现脱团和偏离公司的安排。</li>
              <li>学生带上邀请函和承诺文件等资料到有关机构申请旅游观光签证。</li>
              <li>签证批准后，请电邮所有文件副本（旅游签证，护照，父母亲公司保证书，汇款收据等），并订购指定日期往返机票。</li>
            </ul>
          </li>
          <li>5月~7月初，完成学校学期考试。整理行李，计算零用钱（购买礼物的费用以及其他私人用途的费用）。</li>
          <li>7 月中旬。欢欢喜喜参营去，享受一个愉快的旅程。</li>
        </ol>
      </div>
      <div class="my-5">
        <h3>学员须知</h3>
        <div class="my-4">
          <h4>团费包括:</h4>
          <ol>
            <li>豪华旅游观光巴士来回接送：机场接送、集体旅游出行。</li>
            <li>全程渡假村住宿，酒店住宿，设有浴室及空调。</li>
            <li>经验导师和领队。</li>
            <li>全程膳食，每天早餐，午餐，和晚餐。</li>
            <li>行程中所有景点门票。</li>
            <li>报名课程及所列明的活动和观光费用 (活动和观光安排、内容以当地主办单位为准，课程时间表仅供参考)</li>
            <li>三星期内医疗保险。</li>
            <li>指定三星期所有学习和训练费用。</li>
          </ol>
        </div>
        <div class="my-4">
          <h4>团费不包括:</h4>
          <ol>
            <li>不包括来回机票。</li>
            <li>个人性质费用，例如电话费，洗衣费，选台电视费等。</li>
            <li>因交通阻延，罢工，天气恶劣等，航机取消或更改时间，非本公司控制范围的原因所导致的额外开支，公司有权利在特殊情况下更改，客人不能提岀异议。</li>
            <li>离团所有费用。</li>
            <li>个人零用钱及私人购物消费。</li>
            <li>个人行李超重费。</li>
            <li>学员在夏令营所违失之个人物品。</li>
          </ol>
        </div>
        <div class="my-4">
          <h4>退款安排:</h4>
          <p>如在2018年6月21日前取消行程，将会扣除 CAD $300 手续费，其余部分退还；如在2018年6月22日至2018年7月7日之间取消行程，将扣除全部团费的50％，其余部分退还；如在2018年7月7日后取消行程，全部团费恕不退还。</p>
          <p>本公司保留在截止前因可能发生之变化或参加人数不足,取消行程。除全额退还营费外, 本公司不付任何责任, 学员不可借故要求赔偿。</p>
        </div>
        <a href="/QA"><h3 class="info-link">关于展望之旅夏令营的疑问与解答</h3></a>
        <p>有任何其他疑问或建议，请随时与我们联系反馈。</p>
      </div>
    </div>
  </div>
</div>
