<!-- Page Header -->
<header class="masthead" style="background-image: url('/images/info/background.jpg')">
	<div class="overlay"></div>
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-md-10 mx-auto">
				<div class="page-heading">
					<h1 class="mt-5">展望游学夏令营</h1>
					<span class="subheading mt-5">常见问题与解答</span>
				</div>
			</div>
		</div>
	</div>
</header>

{{!< default}}
<div class="container">
  <div class="row">
    <div class="col-sm-10 mx-auto">

			<div class="info-qa">
				<div class="info-qa-q">1. 展望游学是什么？</div>
				<div class="info-qa-a">展望游学是一个多元化的互动式夏令营，它会为来自中国的年青人提供许多令人兴奋和丰富的参观及学习机会，他们将会接触到加拿大的多元文化，西方社会及自然生态环境，大开眼界之余亦扩展国际视野。</div>
			</div>

			<div class="info-qa">
				<div class="info-qa-q">2. 怎么申请？</div>
				<div class="info-qa-a">
					<p>A. 在居住地申请旅加签证</p>
					<p>B. 取得签证后填写及电邮申请表格</p>
					<p>C. 付申请费</p>
				</div>
			</div>

			<div class="info-qa">
				<div class="info-qa-q">3. 申请资格？</div>
				<div class="info-qa-a">12至18岁身体健康，适合户外运动的青少年。</div>
			</div>

			<div class="info-qa">
				<div class="info-qa-q">4. 申请截止日期？</div>
				<div class="info-qa-a">报名截止日期为: 6月20日</div>
			</div>

			<div class="info-qa">
				<div class="info-qa-q">5. 何时我会接到通知？</div>
				<div class="info-qa-a">收到学生申请表及申请费后2星期内</div>
			</div>

			<div class="info-qa">
				<div class="info-qa-q">6. 夏令营费用？</div>
				<div class="info-qa-a">3星期费用是加元六仟九佰八十八元整 CAD$6,988.00</div>
			</div>

			<div class="info-qa">
				<div class="info-qa-q">7. 营费会包括什么？</div>
				<div class="info-qa-a">营费包括在夏令营内加拿大的食宿，当地交通，及所有相关活动的费用和门票。</div>
			</div>

			<div class="info-qa">
				<div class="info-qa-q">8. 夏令营课程时间？</div>
				<div class="info-qa-a">详细课程时间请参观我们的网页，或微信公众号（二维码见本页最下方）</div>
			</div>

			<div class="info-qa">
				<div class="info-qa-q">9. 夏令营课程大纲？</div>
				<div class="info-qa-a">夏令营将会参观加拿大多个城市，大学及名胜，亦会在户外领袖训练营受训3天，参加由多伦多副警察总长及其团队主持的特训班，参观科学中心，博物馆等等。详细课程请参观我们的网页，或微信公众号（二维码见本页最下方）。</div>
			</div>

			<div class="info-qa">
				<div class="info-qa-q">10. 对年青人有什么得益？</div>
				<div class="info-qa-a">你将会有机会直接体验加拿大的生活，互动式的课程及多元化的观察可增加你对西方文化的认识，扩阔视野，提高你的领导才能，结识新朋友，享受3星期多姿多彩及热闹的欢乐时光。</div>
			</div>

			<div class="info-qa">
				<div class="info-qa-q">11. 户外活动有多少？</div>
				<div class="info-qa-a">超过一半以上的活动将在户外进行，享受加拿大美好及无污染的自然生态环境，身心舒𣈱。</div>
			</div>

			<div class="info-qa">
				<div class="info-qa-q">12. 夏令营环境？</div>
				<div class="info-qa-a">学员安全是夏令营首要考虑，所有住宿条件，用膳设施，交通工具，均符合设定的要求。经验导师和工作人员全程照顾，确保学员安全。主要课程以英语为主，国语导师会从傍协助。夏令营期间均入住酒店，两人一房间，经验导师和领队全程照顾，以保证夏令营的质量和学员的安全。</div>
			</div>

			<div class="info-qa">
				<div class="info-qa-q">13. 我需要带什么？</div>
				<div class="info-qa-a">个人衣服，用品，但最重要的当然是你的护照。</div>
			</div>

			<div class="info-qa">
				<div class="info-qa-q">14. 我需要买什么个人保险？</div>
				<div class="info-qa-a">
					<p>基于加拿大的医疗制度，请必须出发前在原居地购买足够的危疾保险</p>
					<p>旅游保障需知</p>
					<p>为保障学员利益,本公司均提议各学员购买个人旅游保险。包括意外,行李赔赏保脸等,需在原居地出发时购买。</p>
					<p>本团已经包括3周随团活动旅游保险。</p>
				</div>
			</div>

			<div class="info-qa">
				<div class="info-qa-q">15. 夏令营有否自由活动时间？</div>
				<div class="info-qa-a">理所当然，在参观考察之余将安排自由游览，购买纪念品及加拿大特产等。</div>
			</div>

			<div class="info-qa">
				<div class="info-qa-q">16. 父母可以跟随旅游吗？</div>
				<div class="info-qa-a">父母不应该跟随旅游, 因为会影响学生的积极学习进程。</div>
			</div>

    </div>
  </div>
</div>
