<!-- Page Header -->
<header class="masthead" style="background-image: url('/images/info/background.jpg')">
	<div class="overlay"></div>
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-md-10 mx-auto">
				<div class="page-heading">
					<h1>展望游学夏令营</h1>
					<span class="subheading mt-5">行程详细介绍</span>
				</div>
			</div>
		</div>
	</div>
</header>

{{!< default}}
<div class="container">
  <div class="row">
    <div class="col-sm-10 col-md-12 mx-auto">
      <div class="info-main-content">
      	<p class="info-sub-heading">第1天 欢迎来到加拿大</p>
				<div class="info-content-div">
					<p>接机学员，做简单介绍后，安置学生下榻酒店。</p>
				</div>
      </div>
			<div class="info-main-content">
      	<p class="info-sub-heading">第2天 交流学习</p>
				<div class="info-content-div">
					<p>早上简单的欢迎会。</p>
					<p>之后由著名礼仪老师、演讲名人Adeodata Czink 带来礼仪讲座。</p>
					<p>下午雅思座谈会及留学讨论会。</p>
				</div>
				<div class="info-sub-content">
					<p class="mt-1"><strong>礼仪讲座大纲</strong></p>
					<ul class="mb-1">
						<li>打造形像: 学习优雅举止，肢体语言，修饰仪表外貌</li>
						<li>西方礼仪: 自我介绍、称呼、问好、握手礼节等</li>
						<li>交谈的艺术之四要点</li>
						<li>电话礼仪: 如何询问、留言，以及手机的使用</li>
						<li>书面通讯: 电邮，书信的使用</li>
						<li>西餐礼仪: 餐巾餐具位置和应用，座位编排、入座顺序，如何示意更换碟子，进食仪态，不同文化的礼节等</li>
						<li>登台领奖项关注事项</li>
					</ul>
				</div>
      </div>

			<div class="info-main-content">
				<p class="info-sub-heading">第3天 学府之旅</p>
				<div class="info-content-div">
					<p>上午英语课程。</p>
					<p>下午分别参观多伦多大学—— 瑞尔森大学—— 约克大学。</p>
				</div>
				<div class="info-sub-content">
					<p class="mt-1"><strong>多伦多大学（University of Toronto）</strong>是加拿大排名第一的学府。它包括十二个学院，它在士嘉堡和密西沙加有两个分校。在学术上，多伦多大学是胰岛素和干细胞研究的发源地，也是第一个实用电子显微镜的发展地。同时，多伦多大学教育了加拿大两位总督和四位总理。</p>
					<p><strong>瑞尔森大学（Ryerson University）</strong>是加拿大新兴行业的摇篮也是以职业为中心的教育业领跑者，特色及优异专业包括图像艺术专业、新闻本科专业等。校址定位在多伦多市中心，毗邻多伦多电影节TIFF的会场，借此之风，瑞尔森大学的学生会也自己主办大学生电影节。</p>
					<p class="mb-1"><strong>约克大学（York University）</strong>一直以来以工商管理、法律、文科、计算机科学、社会科学等专业而闻名。其中约克大学的舒立克商学院（Schulich School of Business）口碑与排名均在多大之上。</p>
				</div>
			</div>

			<div class="info-main-content">
				<p class="info-sub-heading">第4~6天【特色项目】探索之旅</p>
				<div class="info-content-div">
					<p>前往享有加拿大绝美风景的度假村</p>
					<p>进行领袖才能培训，独木舟、观星等户外活动</p>
				</div>
				<div class="info-content-div">
					<p>连续三天每天上午进行英语会话讨论。</p>
					<p>下午参与各种领袖技能培训与各种户外活动。</p>
					<p>夜晚居住在加拿大特色度假木屋之中（两夜）。</p>
				</div>
				<div class="info-sub-content">
					<p class="mt-1"><strong>柏丽湖户外领袖训练中心（Bark Lake Leadership and Conference Centre）</strong>于1948年在加拿大安大略省北部建立，旨在利用多元化及挑战性的户外及室内设施，在无污染的自然环境中，以启发性的课程培养学生的冒险精神与团队精神，増强个人自信以达到自我增值的目的。</p>
					<p class="mb-1"><strong>课程包括两种独木舟（canoe和kayak）</strong>的划行，高空绳索游走，篝火晚会，短途徒步旅行，夜间观星，小组互动等，所有课程均由专业导师负责。</p>
				</div>
			</div>

			<div class="info-main-content">
				<p class="info-sub-heading">第7天 眺望多伦多</p>
				<div class="info-content-div">
					<p>上午英语课程，并登上CN塔。</p>
					<p>中午在CN塔上旋转餐厅用餐。</p>
					<p>下午游览塔边水族馆。</p>
				</div>
				<div class="info-sub-content">
					<p class="mt-1"><strong>多伦多CN塔（CN Tower）</strong>全世界最高的通讯塔多伦多CN塔于1976年建成，塔高553米，是多伦多城市风景线的重要标志。展望游学为学生们在距离地面351米高的360度旋转餐厅（360 Restaurant）准备了午餐，餐厅的地板旋转一周需时72分钟，用餐时无须移步便可将多伦多360度全景尽收眼底。</p>
					<p class="mb-1"><strong>里普利水族馆（Ripley's Aquarium of Canada）</strong>是多伦多最大的水族馆。该水族馆占地12,542平方米，有13,500只水生生物，是约450种物种的家园。</p>
				</div>
			</div>

			<div class="info-main-content">
				<p class="info-sub-heading">第8天 科学探索之旅</p>
				<div class="info-content-div">
					<p>上午英语课程。</p>
					<p>下午参观安大略省科技馆。</p>
				</div>
				<div class="info-sub-content">
					<p class="mt-1 mb-1"><strong>安大略省科技馆（Ontario Science Centre）</strong>科技馆内有十个展厅，包括太空、体育以及地球科学等，有多达600项互动式展览和演示。在这里可以借助迷你天象仪探寻宇宙的秘密，乘坐模拟雪橇进入石灰岩洞探险，或是体验静电让人怒发冲冠的感受。在球幕立体影院，可以体验宇宙探索之旅。</p>
				</div>
			</div>

			<div class="info-main-content">
				<p class="info-sub-heading">第9天 历史之旅</p>
				<div class="info-content-div">
					<p>上午进行英语会话讨论。</p>
					<p>下午参观安大略省皇家博物馆和卡萨罗马古堡。</p>
					<p>晚间乘旅游巴士或者校车在多伦多市中心穿梭游览。</p>
				</div>
				<div class="info-sub-content">
					<p class="mt-1"><strong>卡萨罗玛城堡（Casa Loma）</strong>建于1911年，是加拿大最早的古堡，古堡内有98 间装饰华丽的房间，神秘的塔楼，长达270米的幽深隧道，规模庞大的马厩，还有隐蔽的暗道，典雅的温室花房，依山而建的美丽花园。走廊两侧的中世纪盔甲，以及古堡内嘎吱作响的木地板，令人有种时光交错的感觉，仿佛身处一百年前的豪门巨宅之中。古堡内设咖啡店、礼品店。同学们还可免费租用导游讲解耳机，有国语和粤语选择。</p>
					<p class="mb-1"><strong>安大略省皇家博物馆（Royal Ontario Museum, ROM）</strong>是世界上最着名的自然历史和世界文化博物馆之一，馆内收有很多中国的艺术品及古董，还有希腊、埃及、罗马等其它国家的珍贵收藏品。热门参观项目有埃及石棺及木乃伊、恐龙化石等。</p>
				</div>
			</div>

			<div class="info-main-content">
				<p class="info-sub-heading">第10天 多伦多市全日游</p>
				<div class="info-content-div">
					<p>早上游览湖心岛，观看多伦多城市线。</p>
					<p>下午分别游览约克堡—— 高地公园—— 黑溪先祖村</p>
				</div>
				<div class="info-sub-content">
					<p class="mt-1"><strong>湖心岛（Centre Island）</strong>来到安大略湖畔后，乘观光船，前往市中心对岸的中心岛。岛上遮蔽物少，同学们尤其要注意防晒！从另一个角度观看多伦多城市线，天空和湖水交相辉映，构成一幅令人难忘的画面。爱好摄影的同学不要忘记带好摄影设备！</p>
					<p><strong>约克堡（Fort York）</strong>建于1793年，由英国的前代理总督希姆科建造，为了保护当时英国的殖民地安大略省不受美国威胁。约克堡可谓加拿大的历史博物馆，具有深厚文化底蕴。</p>
					<p><strong>高地公园（High Park）</strong>于青山绿水中感受多伦多物种多样性，近距离接触松鼠、花栗鼠、加拿大鹅、各种雀类等野生动物。同时，高地公园还设有大型食草偶蹄动物的动物园，在这里可以观赏到羊驼、牦牛、水豚、羚羊等动物。</p>
					<p class="mb-1"><strong>黑溪先祖村（Black Creek Pioneer Village）</strong>是一个宁静的、古老的世外桃源，时间都凝固在过去。你可以看到加拿大不同时代、不同风格的古房屋，可以看到上百年前人们使用过的家具、农具，甚至还会有身着维多利亚时代服饰的姑娘飘然而过。这里有由真人身着古典服装演示当时的生活方式，同学们可以在这里学习以多伦多为主的北美历史。</p>
				</div>
			</div>

			<div class="info-main-content">
				<p class="info-sub-heading">第11~17天 海洋省七日游</p>
				<div class="info-content-div">
					<p>连续七日上午英语会话讨论，密集训练。无论是在旅途中还是闲暇时，英语老师都准备了时下热议话题待同学们探讨。</p>
					<p>七天里游遍加东，同学们对加拿大的风土人情也能有了全面的了解。</p>
					<p>此间六夜展望游学为学生们预定了四星级酒店。</p>
				</div>
			</div>

			<div class="info-main-content">
				<p class="info-sub-heading">第11天 魁北克古城拾遗</p>
				<p class="info-sub-heading">多伦多（Toronto）—— 魁北克（Quebec City）</p>
				<div class="info-content-div">
					<p>清晨从多伦多出发，沿圣罗伦斯河一路向东行驶，途经加国故都京士顿。</p>
					<p>下午直达魁省省府魁北克市。漫步于古城的石板街，参观闻名于世的炮台公园、热闹的古堡广场，欣赏各有特色的街头表演，在浪漫情调下品尝法式晚餐。</p>
				</div>
			</div>

			<div class="info-main-content">
				<p class="info-sub-heading">第12天 圣罗伦斯河口观鲸</p>
				<p class="info-sub-heading">魁北克（Quebec City）—— 圣罗伦斯河口（St. Lawrence River）—— 费特烈顿（Fredericton）</p>
				<div class="info-content-div">
					<p>早上前往狼河市（Rivière-du-Loup），在圣罗伦斯河口乘船观赏鲸鱼在水中嬉戏觅食的自然奇景。</p>
					<p>下午到达纽宾士域省，游览世界最长的有盖桥，傍晚到达新不伦瑞克省（New Brunswick）的首府—— 费特烈顿市，该市坐落于圣约翰河（St. Johns River）边，环境优雅，市政厅庄严古朴。</p>
				</div>
			</div>

			<div class="info-main-content">
				<p class="info-sub-heading">第13天 享受佩琪湾徐徐海风</p>
				<p class="info-sub-heading">费特烈顿（Fredericton）—— 佩琪湾（Peggy’s Cove）—— 哈利法克斯（Halifax）</p>
				<div class="info-content-div">
					<p>早上前往新斯科舍省（Nova Scotia）。午餐后游览大西洋海岸边的著名小渔村—— 佩琪湾。这里风光如诗如画，每年吸引万千游客慕名前来。</p>
					<p>之后前往新斯科舍省省府哈利法克斯市，它是东部海洋省份最大的城市和加国最重要的海军基地。最后乘搭新奇的水陆两用观光车游览这个充满英伦气息的城市。</p>
				</div>
			</div>

			<div class="info-main-content">
				<p class="info-sub-heading">第14天 来自王子岛的龙虾生蚝盛宴</p>
				<p class="info-sub-heading">哈利法克斯（Halifax）—— 夏洛特敦（Charlottetown）—— 萨默赛德（Summerside）</p>
				<div class="info-content-div">
					<p>早上乘搭汽车渡轮前往加国面积最小的省份爱德华王子岛（Prince Edward Island，PEI）。岛上赤红的土地、蔚蓝的大海、黑白的乳牛、金色的土豆田，加上蓝天白云，构成一幅醉人的图画。</p>
					<p>随后参观“加拿大联邦的摇篮”—— 省府夏洛特敦。展望游学独家安排参观海洋展馆，了解并品尝王子岛特产—— 生蚝（牡蛎）。最后造访以加国名作家蒙哥玛丽的传世之作“秀丽佳人”为主题的国家公园，触摸时光倒流的感觉。</p>
					<p>晚餐品尝特色龙虾餐。</p>
				</div>
			</div>

			<div class="info-main-content">
				<p class="info-sub-heading">第15天 奇迹之旅</p>
				<p class="info-sub-heading">萨默赛德（Summerside）—— 磁力山（Magnetic Hill）—— 好望角石林（Hopewell Rocks）—— 圣约翰（Saint John）—— 费特烈顿（Fredericton）</p>
				<div class="info-content-div">
					<p>清晨出发跨越十三公里长的联邦大桥进入新不伦瑞克省。首先与象征海洋省的大龙虾像合照，之后前往参观神奇的磁力山，见证汽车倒流的神奇现象。</p>
					<p>沿途欣赏位于芬地湾（Bay of Fundy）的好望角石林，其潮水涨退落差为世界之最，堪比钱塘江。继而启程进入海湾城市圣约翰，感受圣约翰河水在大西洋出海口被海水逼退的倒流奇观。</p>
				</div>
			</div>

			<div class="info-main-content">
				<p class="info-sub-heading">第16天 来到熏肉三明治圣地</p>
				<p class="info-sub-heading">费特烈顿（Fredericton）—— 蒙特利尔（Montreal）</p>
				<div class="info-content-div">
					<p>早上出发，乘车前往海洋省特色薯片厂参观。</p>
					<p>下午抵达有“北美巴黎”美誉的蒙特利尔市，当地热闹繁华的街头和精致漂亮的商品让人流连忘返，熏肉三明治更是闻名世界。</p>
					<p>若时间充足，展望将带领学生们登上奥林匹克公园内全世界最高斜塔—— 蒙特利尔塔。</p>
				</div>
			</div>

			<div class="info-main-content">
				<p class="info-sub-heading">第17天 浪漫之旅</p>
				<p class="info-sub-heading">蒙特利尔（Montreal）—— 渥太华（Ottawa）—— 千岛湖（Thousand Islands）—— 多伦多（Toronto）</p>
				<div class="info-content-div">
					<p>早上前往加拿大首都渥太华，途经总理府和总督府，参观国会山庄前的盛大阅兵仪式、加拿大自然博物馆。自然博物馆内陈列了仿真恐龙、地球最大动物—— 蓝鲸的骨架、北极熊、北美野牛以及品种繁多的矿物。</p>
					<p>下午到达千岛国家公园，这里有美丽动人的传奇故事。乘搭游船欣赏圣罗伦斯河的动人美景，感受漂流在美加边界的奇幻。河上白帆点点，碧波荡漾，两岸别墅分别竖立着美加国旗。</p>
					<p>黄昏时分返回多伦多，圆满结束七天的愉快旅程。</p>
				</div>
			</div>

			<div class="info-main-content">
				<p class="info-sub-heading">第18天 壮观之旅</p>
				<div class="info-content-div">
					<p>上午进行英语会话讨论。</p>
					<p>下午游玩震撼的尼亚加拉大瀑布及周边场所。</p>
				</div>
				<div class="info-sub-content">
					<p class="mt-1 mb-1"><strong>尼亚加拉大瀑布（Niagara Falls）</strong>尼亚加拉大瀑布是世界上最大的天然瀑布，也是世界七大自然奇观之一。瀑布旁边的尼亚加拉奥特莱斯是一个无与伦比的购物终点站，这个崭新的购物广场拥有100多家国际时尚名牌零售商，包括： Burberry, Kate Spade, Coach, Hugo Boss, Michael Kors, Tommy Hilfiger, Nike, Adidas, Bench 等品牌。</p>
				</div>
			</div>

			<div class="info-main-content">
				<p class="info-sub-heading">第19~20天 【特色项目】警察学院领袖培训</p>
				<div class="info-content-div">
					<p>华裔多伦多副警察总长源植勉及其团队为同学们带来为时两天的放松培训，并带领同学们参观多伦多警察学院，感受当地警务人员的英姿。</p>
				</div>
				<div class="info-sub-content">
					<p class="mt-1 mb-1"><strong>源植勉（Peter Yuen）</strong>是多伦多警察局的第一个华裔副警察总长，他常年活跃于社区服务，也在多伦多警察学院讲课。同时他还担任“展望青年领袖培训计划”课程顾问，负责设计培养青少年领袖才能的课程，与展望游学夏令营颇有渊源。源警长的领袖培训课程相当风趣幽默，一改人们对警察的刻板印象。同学们在他的教导之下，将学会如何做到领导一个团队、如何分工合作、如何面对困境，以及一些职业上的建议。</p>
				</div>
			</div>

			<div class="info-main-content">
				<p class="info-sub-heading">第21天 结束旅程，乘机归家</p>
				<div class="info-content-div">
					<p>在三周的丰富旅程结束之前，展望游学将为学生们颁发礼仪证书以及结业证书，之后合影留念，交换联系方式，举办欢送会。</p>
					<p>最后由展望游学将同学们送别。</p>
				</div>
			</div>

			<div class="info-main-content">
				<p class="info-sub-heading">第22天 抵达中国</p>
				<div class="info-content-div">
					<p>希望学生们回国之后能够记住展望游学夏令营带给大家的欢乐与美好回忆。也希望每一个学生在今后人生道路中，运用这趟所学，大展光彩！</p>
				</div>
			</div>

    </div>
  </div>
</div>
