<nav aria-label="Page navigation example">
	<ul class="pagination">
		<li {{#unless data.posts.previous}}class="disabled page-item"{{/unless}}>
			<a href="{{paginationPreviousUrl data.posts.previous}}" class="page-link">
				<i class="fa fa-arrow-left"></i>
			</a>
		</li>
		{{{paginationNavigation data.posts.pages data.posts.currentPage data.posts.totalPages}}}
		<li {{#unless data.posts.next}}class="disabled page-item"{{/unless}}>
			<a href="{{paginationNextUrl data.posts.next data.posts.totalPages}}" class="page-link">
				<i class="fa fa-arrow-right"></i>
			</a>
		</li>
	</ul>
</nav>
